* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    gap: 10px;

    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer";

    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;

    font-family: sans-serif;
    background-color: #faf6f1;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

header, main, section, aside, footer {
    background-color: #f3e9d7;
    border: 2px solid #6b4e31;
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #5a3c19;
    font-weight: bold;
}

article {
    margin-bottom: 25px;
}

aside article {
    background-color: #fff8ec;
    padding: 10px;
    border: 1px solid #b38a64;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

footer {
    text-align: center;
    font-weight: bold;
}
